---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "Logan Whitten's Lighting Portfolio";
---
<meta>
  <title>{pageTitle}</title>
</meta>
<iframe src="https://loganwhitten.com/" style="width: 100%; height: 100vh; border: none;"></iframe>