---
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "Logan Whitten's Lighting Portfolio";
---

<BaseLayout>
  <div
    class="height-screen place-content-center place-items-center hover:underline cursor-pointer flex"
  >
    <a href="https://loganwhitten.com" class="text-7xl"
      >404: page not found</a
    >
  </div>
</BaseLayout>
