---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
  <div class="place-self-center">
    <iframe
      src="https://loganwhitten.com/assets/LoganWhittenResume01-15-25.pdf"
      title="Resume"
      class="place-self-center h-[600px] w-[450px]"></iframe>
  </div>
</BaseLayout>
