---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
  <div>
    <iframe
      src="https://loganwhitten.com/assets/LoganWhittenResume01-15-25.pdf"
      title="Resume"
      class="w-full h-screen"></iframe>
  </div>
</BaseLayout>
