---
import addams from "/addams.jpeg"
import spongebob from "/spongebob.jpg"
import internship from "/internship.jpg"
import cinderella from "/cinderella.jpg"
---

<div class="mx-12 pb-5 mt-6">
    <h1 class="text-center text-5xl py-5"><b>highlighted work</b></h1>
        <h1 class="text-center text-4xl mb-6">all additional work available in my <span class="underline"><a href="/resume">resume</a></span></h1>
    <div class="grid grid-cols-1 gap-12 xl:mx-48 xl:grid-cols-2">
        <div class="grid group relative cursor-default center items-center text-center">
          <img
          class="relative z-10 w-full rounded-lg transition-all group-hover:-translate-y-3"
          src={spongebob}
          alt="painting"
          />
          <h1 class="text-white z-30 align-middle text-lg">Spongebob the Musical - 2023</h1>
          <div
            class="absolute left-0 top-0 h-full w-full rounded-lg bg-black transition-all">
          </div>
    </div>
        <div class="grid group relative cursor-default center items-center text-center">
          <img
          class="relative z-10 w-full rounded-lg transition-all group-hover:-translate-y-3"
          src={addams}
          alt="painting"
          />
          <h1 class="text-white z-30 align-middle text-lg">The Addams Family - 2023</h1>
          <div
            class="absolute left-0 top-0 h-full w-full rounded-lg bg-black transition-all">
          </div>
    </div>
        <div class="grid group relative cursor-default center items-center text-center">
          <img
          class="relative z-10 w-full rounded-lg transition-all group-hover:-translate-y-3"
          src={cinderella}
          alt="painting"
          />
          <h1 class="text-white z-30 align-middle text-lg">Cinderella - 2022</h1>
          <div
            class="absolute left-0 top-0 h-full w-full rounded-lg bg-black transition-all">
          </div>
    </div>
        <div class="grid group relative cursor-default center items-center text-center">
          <img
          class="relative z-10 w-full rounded-lg transition-all group-hover:-translate-y-3"
          src={internship}
          alt="painting"
          />
          <h1 class="text-white z-30 align-middle text-lg">ProFormance Systems Internship - 2021</h1>
          <div
            class="absolute left-0 top-0 h-full w-full rounded-lg bg-black transition-all">
          </div>
    </div>
    </div>
