---
import Hamburger from "./Hamburger.tsx";
import Navigation from "./Navigation.astro";
import ThemeToggle from "./ThemeToggle.astro";
import { getImage } from "astro:assets";
const { is404Page = false } = Astro.props;

const favicon_avif = await getImage({
  src: "https://loganwhitten.com/avatar.png",
  alt: "favicon",
  width: 1000,
  height: 1000,
  decoding: "async",
  format: "avif",
});
---

<header class="mb-[20px] mt-[-10px]">
  <nav class="flex items-center justify-between w-full h-[30px]">
    {
      !is404Page && (
        <div class="flex items-center gap-3 h-[30px]">
          <a href="/" class="block">
            <img
              class="favicon dark:invert w-[30px] h-[30px]"
              src={favicon_avif.src}
              alt="Home"
              width="30"
              height="30"
            />
          </a>
          |
            <a href="/long_form/" class="hover:text-gray-300 text-sm">
              Projects
            </a>
            <a href="/resume/" class="hover:text-gray-300 text-sm">
              Resume
            </a>
          </div>
      )
    }
    <div class="flex items-center h-[30px] gap-2">
      {
        !is404Page && (
          <>
            <div class="flex items-center justify-center h-[30px] w-[30px]">
              <ThemeToggle />
            </div>
            <div class="flex items-center justify-center h-[30px] w-[30px]">
            </div>
          </>
        )
      }
    </div>
  </nav>
  {
    !is404Page && (
      <div class="absolute right-0 mt-2">
        <Navigation />
      </div>
    )
  }
  <slot />
</header>
