---
import paint from '/paint.png';
import portrait from '/main-portrait.jpg';
import Parallax from "../components/parallax";
---

<div class="relative mx-12 flex flex-col items-center justify-center xl:flex-row xl:gap-36">
    <div class="w-full xl:w-1/2">
    <h1 class="text-4xl">
        logan + <span class="font-bold">
            lighting </span>= 🤯!
        </span>
    </h1>
    <br>
    <div class="relative">
        <svg class="absolute h-full w-full overflow-visible">
            <defs>
              <linearGradient id="gradient" x1="0%" y1="0%" x2="100%" y2="0%">
                <stop offset="0%" style={{ stopColor: "#DC3A2B", stopOpacity: 1 }}
                ></stop>
                <stop offset="100%" style={{ stopColor: "#E18510", stopOpacity: 1 }}
                ></stop>
              </linearGradient>
            </defs>
            <path
              id="border-path"
              fill="none"
              stroke="url(#gradient)"
              stroke-width="4"></path>
          </svg>
                        <p id="anim-p" class="p-6 text-lg">
            I'm a dedicated freelance lighting designer, 
            passionate about bringing radiant creativity to your projects. 
            From stage productions to events, I strive to blend artistry 
            and technical expertise to create captivating experiences 
            for your audience.

            <br />
            <br />
            Allow me to craft a symphony of luminescence, tailored
            exclusively for your vision and imagination. With a 
            focus on precision and an understanding of the emotional 
            impact of light, I aim to elevate your events to extraordinary 
            heights, leaving a lasting impression on your guests.
            <br />
            <br />
            My journey as a freelance lighting designer has been defined by
            a commitment to learning and growing in this beautiful field. 
            With a diverse portfolio and an unwavering dedication to excellence, 
            I promise to bring a unique, subtle brilliance to your project, 
            ensuring it shines with a humble charm among the stars.
          </p>
        </div>
        <div class="flex justify-center pt-12 text-center mb-12 xl:gap-16">
        <div class="w-32">
            <h2>professional shows</h2>
            <p id="art-counter" class="text-xl font-bold">85</p>
        </div>
        <div class="w-32">
            <h2>community productions</h2>
            <p id="youtube-counter" class="text-xl font-bold">1.2m</p>
        </div>
        <div class="w-32">
            <h2>total shows designed</h2>
            <p id="reviews"class="text-xl font-bold">50</p>
        </div>
    </div>
    </div>
    <div class="relative">
        <img class="flex max-h-screen" style="padding-bottom: 25%" src={portrait}/>
    </div>
</div>
<div class="mt-12 h-4 w-full bg-black"> </div>

<style>
    #border-path{
        animation: draw 1s forwards 1s ease-out
    }
    @keyframes draw {
        to {
            stroke-dashoffset: 0;
        }
    }
</style>

<script>
    function updatePath() {
        const textMain = document.querySelector('#anim-p') as HTMLElement
        const path = document.querySelector('#border-path') as SVGPathElement

        if(textMain && path) {
            path.setAttribute('d', `M0,0 V${textMain.offsetHeight} H${textMain.offsetWidth} v${textMain.offsetHeight / 3}`)
        }
        const pathLength = path.getTotalLength()
        path.style.strokeDasharray = pathLength.toString()
        path.style.strokeDashoffset = pathLength.toString()
    }

    function incrementCounter(selector: string,
    current: number,
    target: number,
    duration: number,
    letter: string = ""
    ) {
        let counter = document.getElementById(selector)
        let stepTime = Math.abs(Math.floor(duration / target))
        if (current < target && counter){
            current++
            counter.innerText = current.toString() + letter
            setTimeout(() => incrementCounter(selector, current, target, duration, letter), stepTime,)
        }
    }
    incrementCounter("art-counter", 0, 6, 2500)
    incrementCounter("youtube-counter", 0, 15, 4000, "")
    incrementCounter("reviews", 0, 21, 5500)


    window.addEventListener('DOMContentLoaded', updatePath)
    window.addEventListener('resize', updatePath)

    </script>