---
import Icon from "./Icon.astro";
---

<section class="box skills">
	<div class="stack gap-2 lg:gap-4">
		<Icon
			icon="headset"
			color="var(--accent-regular)"
			size="2.5rem"
			gradient
		/>
		<h2>Professional Work</h2>
		<p>
			I have had the opportunity to work as a designer or assistant
			designer for several clients including <a>Denton ISD</a>, <a
				>Lewisville ISD</a
			>, in addition to the Flower Mound High School <a>Band</a>, <a
				>Orchestra</a
			>, and
			<a>Choir</a>.
		</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon
			icon="mask-happy"
			color="var(--accent-regular)"
			size="2.5rem"
			gradient
		/>
		<h2>Volunteer Work</h2>
		<p>
			I have been able to design several community productions with <a
				>OhLook PAC</a
			>, <a>Trietsh UMC</a>, <a>Stage Right Ministry</a>, <a
				>Flower Mound High School Theatre</a
			>, as well as several others.
		</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon
			icon="wrench"
			color="var(--accent-regular)"
			size="2.5rem"
			gradient
		/>
		<h2>Internship</h2>
		<p>
			I was fortunate enough to intern with <a>ProFormance Systems</a> where
			I gained valuable experience in the install and maintenance of lighting
			fixtures. Read more <a href="/work/2-internship">here</a>.
		</p>
	</div>
</section>

<style>
	.box {
		border: 1px solid var(--gray-800);
		border-radius: 0.75rem;
		padding: 1.5rem;
		background-color: var(--gray-999_40);
		box-shadow: var(--shadow-sm);
	}

	.skills {
		display: flex;
		flex-direction: column;
		gap: 3rem;
	}

	.skills h2 {
		font-size: var(--text-lg);
	}

	.skills p {
		color: var(--gray-400);
	}

	@media (min-width: 50em) {
		.box {
			border-radius: 1.5rem;
			padding: 2.5rem;
		}

		.skills {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			gap: 5rem;
		}

		.skills h2 {
			font-size: var(--text-2xl);
		}
	}
</style>
