---
import Nav from "../components/nav";
const {title} = Astro.props
import favicon from "/avatar.jpg"
---
<html lang="en">
	<head>
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta 
		name="Logan Whitten"
		content="Lighting designer currently studing at the University of North Carolina School of the Arts"/>
		<meta title={title}/>
		<link rel="icon" type="image/x-icon" href={favicon}/>
	</head>
	<body>
		<main class="">
		<Nav client:load/>
			<slot/>
		</main>
	</body>